<%- include('header'); -%>
<div class="container-fluid cart">
  <% var groupedCart = {}; %>
  <% for(var i=0;i<cartValues.length;i++){ 
        var key = cartValues[i].title + '-' + cartValues[i].color;
        if (!groupedCart[key]) {
          groupedCart[key] = cartValues[i];
          groupedCart[key].quantity = 1;
        } else {
          groupedCart[key].quantity += 1;
        }
   %>
  <% } %>
  <% Object.keys(groupedCart).forEach(function(key){ %>
  <div class="item row">
    <div class="container-fluid itemContent col-md-6">
      <img src='public/<%= groupedCart[key].image %>' class="rounded float-start">
      <div class="listingText">
        <p class="fs-5"><%= groupedCart[key].title %> - <%= groupedCart[key].color %> :
          $<%= groupedCart[key].price %> x <%= groupedCart[key].quantity %> =
          $<%= groupedCart[key].price * groupedCart[key].quantity %>
        </p>
      </div>
    </div>
    <div class="container-fluid itemRemove col-md-6 text-lg-right text-sm-left">
      <a href='../remove/<%= groupedCart[key].ID %>'>
        <button class="btn btn-danger">Remove</button>
      </a>
    </div>
  </div>
  <% }); %>

  <div class="checkout d-grid gap-2 d-md-flex justify-content-md-end">
    <div>
      <% if(total > 0){ %>
      <p></p>
      <h2>Total : $<%= total %> + $5 (Shipping)</h2>
      <% }else{ %>
      <h2>NO ITEM IN CART</h2>
      <% }%>
    </div>
    <hr />

    <form action="/chargePaypal" method="POST">
      <input type="submit" value="Paypal" class="btn btn-primary">
      <input type="hidden" name="description" value="<%= cart %>">
    </form>
  </div>
</div>

<%- include('footer'); -%>