<!DOCTYPE html>
<html>
  <head>
    <title>Listing Page</title>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Ubuntu+Condensed&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="../public/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../public/jquery.js"></script>
  </head>
  <body>
    <div class="header">
      <div class="navigation">
        <div class="navLink">
          <a href="#">Home</a>
        </div>
        <div class="navLink">
          <a href="../products">Colors</a>
        </div>
        <div class="navLink">
          <a href="../cart"
            >Cart <em> <% if(cartNumb != 0) {%> <%= cartNumb %> <% } %> </em></a
          >
        </div>
        <div class="navLink">
          <a href="../contact">Contact</a>
        </div>
      </div>
    </div>

    <div class="listingPageContainer">
      <div class="listingImg">
        <img src="../public/<%= listing.image %>" />
      </div>

      <div class="rightContents">
        <div>
          <p id="listingTitle"><%= listing.title %></p>
        </div>
        <div>
          <p id="price">$<%= listing.price %></p>
        </div>

        <div class="listingButtons">
          <a href="../buyNow/<%= listing.ID %>">
            <button id="buyNow">Buy it Now</button>
          </a>
          <button id="addCart" value="<%= listing.ID %> ">Add to Cart</button>
        </div>

        <div class="description">
          <p><%= listing.description %></p>
        </div>
        <div>
          <p><i>Shipping Time: 4-5 Days</i></p>
        </div>
      </div>
    </div>
  </body>
</html>
