<%- include('header'); -%>
<!-- body content -->
<div class="colorsBody">
  <div class="buttonsContainer">
    <button id="RedsButton" class="btn btn-primary">Reds</button>
    <button id="BluesButton" class="btn btn-primary">Blues</button>
    <button id="GreensButton" class="btn btn-primary">Greens</button>
    <button id="Others" class="btn btn-primary">Others</button>
  </div>

  <div class="row productsContainer">
    <% for (i =0 ; i < products.length ; i++) { %>

    <div class="col-md-3 col-sm-6 listing">
      <div class="card">
        <a href="products/<%= products[i].ID %>">
          <img class="card-img-top" src="/public/<%= products[i].image %>" alt="<%= products[i].tittle %>" />
        </a>

        <div class="card-body">
          <a href="products/<%= products[i].ID %>">
            <h5 class="card-title"><%= products[i].tittle %></h5>
          </a>
          <p class="card-text">$<%= products[i].price %></p>

          <a href="buyNow/<%= products[i].ID %>">
            <button id="buyNow" class="btn btn-primary">
              Buy It Now
            </button>
          </a>
          <button id="addCart" class="btn btn-primary" value="<%= products[i].ID %>">
            Add To Cart
          </button>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
</div>
<%- include('footer'); -%>