<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Page</title>
    <link rel="stylesheet" href="/public/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src='../public/jquery.js'></script>
  </head>
  <body>
    <div class="header">
        <div class="navigation">
            <div class="navLink">
                <a href="#">Home</a>
            </div>
            <div class="navLink">
                <a href="products">Color</a>
            </div>
            <div class="navLink">
                <a href="contact">Contact</a>
            </div>
            <div class="navLink">
                <a href="cart">Cart <em> <% if(cartNumb != 0) {%> <%= cartNumb %> <% } %> </em></a>
            </div>
            </div>
        </div>

        <div class="colorsBody">
            <div class="buttonsContainer">
                <button id="RedsButton">Reds</button>
                <button id="BluesButton">Blues</button>
                <button id="GreensButton">Greens</button>
                <button id="Others">Others</button>      
        </div>
        <div class="productsContainer">
            <% for (i =0 ; i < products.length ; i++) { %>
                <div class="listing">
                    <div class="listingImage">
                        <a href="products/<%= products[i].ID %>">
                            <img src='/public/<%= products[i].image %>'>
                        </a>
                    </div>
                    <div class="listingTittle">
                        <a href="products/<%= products[i].ID %>">
                        <p><%= products[i].tittle %></p>
                        </a>
                    </div>
                    <div class="listingPrice">
                        <a href="products/<%= products[i].ID %>">
                        <p>$<%= products[i].price %></p>
                        </a>
                    </div>
                    <div class="listingButons">
                        <a href="buyNow/<%= products[i].ID %>">
                            <button id="buyNow"> Buy It Now</button> 
                        </a>
                        <button id="addCart" value="<%= products[i].ID %>"> Add To Cart</button>
                    </div>
                </div>
            <% } %>
        </div>
        </div>
    </div>
    </body>
  </body>
</html>
